<app-divider>
    Table 
</app-divider>
<app-table 
class="striped celled"
 [data]="data" [headers]="headers"></app-table>
 <!-- classNames="striped celled" -->
  <!-- can directly pass values in class to use ngClass in child-->

<br>

<app-divider>
    Tab Menu
</app-divider>
<app-tabs>
    <!-- <a class="item" [routerLink]="['./']" routerLinkActive="active">Biography</a> -->
             <!-- only select one tab on click -->
    <a class="item" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Biography</a>
    <a class="item" routerLink="companies" routerLinkActive="active">Companies</a>
    <a class="item" routerLink="partners" routerLinkActive="active">Partners</a>
</app-tabs>